<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="33">
    <app-widget-card label="Autonomous Data Warehouse 1" description="Create an ADW Database" timmeString="3-5 mins">
    </app-widget-card>
  </mat-card>
  <mat-card fxFlex="33">
    <app-widget-card label="Autonomous Data Warehouse 2" description="Create an ADW Database" timmeString="3-5 mins">
    </app-widget-card>
  </mat-card>
  <mat-card fxFlex="33">
    <app-widget-card label="Autonomous Data Warehouse 3" description="Create an ADW Database" timmeString="3-5 mins">
    </app-widget-card>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="33">
    <app-widget-card label="Autonomous Data Warehouse 4" description="Create an ADW Database" timmeString="3-5 mins">
    </app-widget-card>
  </mat-card>
  <mat-card fxFlex="33">
    <app-widget-card label="Autonomous Data Warehouse 5" description="Create an ADW Database" timmeString="3-5 mins">
    </app-widget-card>
  </mat-card>
  <mat-card fxFlex="33">
    <app-widget-card label="Autonomous Data Warehouse 6" description="Create an ADW Database" timmeString="3-5 mins">
    </app-widget-card>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="33">
    <app-widget-card label="Autonomous Data Warehouse 7" description="Create an ADW Database" timmeString="3-5 mins">
    </app-widget-card>
  </mat-card>
  <mat-card fxFlex="33">
    <app-widget-card label="Autonomous Data Warehouse 8" description="Create an ADW Database" timmeString="3-5 mins">
    </app-widget-card>
  </mat-card>
  <mat-card fxFlex="33">
    <app-widget-card label="Autonomous Data Warehouse 9" description="Create an ADW Database" timmeString="3-5 mins">
    </app-widget-card>
  </mat-card>
</div>
<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="60">
    <app-widget-area [data]="bigChart"></app-widget-area>
  </div>
  <div fxFlex="40">
    <app-widget-pie [data]="pieChart"></app-widget-pie>
  </div>
</div>

<br>
<br>
<br>
